#section3 { 
    display: inline-block;
    @media screen and (min-width: 720px) { 
        display: none;
    }
}

#section3 { 
    h2 { 
        position: relative;
        top: -450px;
        max-width: 267px;
        text-align: center;
        left: 50px;
    }
}

#section3 { 
    .icon { 
       position: relative;
       top: -450px;
       align-items: center;
       padding: 40px;
    }
}

.fol { 
    height: 71.32px;
    width: 79.30px;
    border-radius: 0px;
    position: relative;
    left: 105px;
}

#section3 { 
    h3 { 
        position: relative;
        text-align: center;
        left: 50px;
        padding: 10px;
    }
}

#section3 { 
    p { 
        max-width: 187px;
        position: relative;
        text-align: center;
        left: 50px;
    }
}

article { 
    max-height: 100px;
}