#section3 { 
    @media screen and (min-width: 720px) { 
        display: none;
    }
}

#section3 { 
    h2 { 
        position: relative;
        top: -650px;
        max-width: 267px;
        text-align: center;
        left: 40px;
    }
}

#section3 { 
    .icon { 
       position: relative;
       top: -650px;
       align-items: center;
       padding: 40px;
    }
}

.fol { 
    height: 71.32px;
    width: 79.30px;
    left: 0.34px;
    top: 4.33x;
    border-radius: 0px;
    position: relative;
    left: 90px;
}

#section3 { 
    h3 { 
        position: relative;
        text-align: center;
        left: -19px;
        padding: 10px;
    }
}

#section3 { 
    p { 
        max-width: 187px;
        position: relative;
        text-align: center;
        left: 36px;
    }
}

article { 
    max-height: 100px;
}