.foto { 
    height: 330px;
    width: 155px;
    position: relative;
    top: -174px;
    border-radius: 24px;
    left: 100px;
    @media screen and (min-width: 720px) { 
        height: 367px;
        width: 176px;
        border-radius: 24px;
        position: relative;
        top: -570px;
        left: 900px;
    }   
}

.conteiner-photos { 
    width: 120px;
    position: relative;
    top: -145px;
    left: 30px;
    @media screen and (min-width: 720px) { 
        top: -580px;
        left: 130px;
    }
}

.conteiner-photos2 { 
    width: 80px;
    position: relative;
    top: -225px;
    left: 220px;
    @media screen and (min-width: 720px) { 
        top: -660px;
        left: 380px;
    }
}

.conteiner-photos3 { 
    width: 60px;
    position: relative;
    top: -205px;
    left: 60px;
    @media screen and (min-width: 720px) { 
        top: -755px;
        left: 680px;
    }
}

.conteiner-photos4 { 
    width: 80px;
    position: relative;
    top: -305px;
    left: 220px;
    @media screen and (min-width: 720px) { 
        top: -860px;
        left: 980px;
    }
}

