#section3 { 
    display: inline-block;
    @media screen and (min-width: 720px) { 
        display: inline-block;
    }
}

#section3 { 
    h2 { 
        position: relative;
        top: -450px;
        max-width: 267px;
        text-align: center;
        left: 50px;
        @media screen and (min-width: 720px) { 
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 42px;
            letter-spacing: -0.02em;
            text-align: center;
            max-width: 800px;
            position: relative;
            top: -1700px;
            left: 250px;
        }
    }
}

#section3 { 
    .icon { 
       position: relative;
       top: -450px;
       align-items: center;
       padding: 40px;
       @media screen and (min-width: 720px) { 
           top: -1700px;
           display: inline-block;
           left: 60px;
       }
    }
}

.fol { 
    height: 71.32px;
    width: 79.30px;
    border-radius: 0px;
    position: relative;
    left: 105px;
    @media screen and (min-width: 720px) { 

    }
}

#section3 { 
    h3 { 
        position: relative;
        text-align: center;
        left: 50px;
        padding: 10px;
    }
}

#section3 { 
    p { 
        max-width: 187px;
        position: relative;
        text-align: center;
        left: 50px;
    }
}

article { 
    max-height: 100px;
}